<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Event Registration</title>
    
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href = "css/app.css" rel = "stylesheet">
	<!-- Start JS library calls -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="lib/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
		
	<!-- ANGULAR and underscore -->
	<script src = "lib/underscore-1.4.4.min.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-sanitize.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/EventController.js"></script>




</head>

<body>
	<div class = "container">

<!-- Begin Navigation -->		
		<div class="navbar">
			<div class="navbar-inner">
				<ul class ="nav">
					<li><a href = "EventDetails.html">Home</a></li>
					<li><a href="NewEvent.html">Create Event</a></li>


			</ul>
			</div>
		</div>

<!-- End Navigation -->
			
<!-- Begin Angular Stuff -->		
		<div ng-controller="EventController">
			<img ng-src = "{{event.imageURL}}"/>

			<div class = "row">
				<div class = "span11">
					<h2 ng-style ="mystyle" ng-bind-template = "{{event.name }} "></h2> <!-- Using Angular Directive and here we can write multiple expression as well -->
				</div><!-- end span11 -->
			</div><!-- end row -->
			<h2 ng-show="boolValue" > Welcome to AT-15 Event Registration</h2>
			<h2 ng-hide="boolValue">Hide this</h2>


			<div class = "row">
				<div class = "span3">
					<div><strong>Date: </strong>{{event.date}}</div>
					<div><strong>Time: </strong>{{event.time}}</div>

				</div><!-- end span3 -->
									
				<div class = "span4">
					<address>
						<strong>Address:</strong><br/>
						{{event.location.address}}<br/>
						{{event.location.city}}, {{event.location.state}} {{event.location.zipcode}}
					</address>
				</div><!-- end span4 -->
			</div><!-- end row -->
		
			<hr />
			
			<h3>Sessions</h3>
			Order By:
			<select ng-model="sortorder" class="input-small">
				<option selected value="name">Name</option>
				<option value="-upVoteCount">Votes</option>
			</select>
			Show:
			<select ng-model="query" class="input-medium">
				<option selected value="">All</option>
				<option value="Entertainment">Entertainment</option>
				<option value="Competition">Competition</option>
				<option value="Other">Other</option>
			</select>
			<ul class="thumbnails">
				<li ng-repeat="session in event.sessions | orderBy:sortorder | limitTo: 100 | filter:query ">
					<div class = "row session">
						<div class="span0 well votingWidget">
							<div class="votingButton" ng-click = "upVoteSession(session)">
								<i class="icon-chevron-up icon-white"></i>

							</div>
							<div class="badge badge-inverse">
								<div><p>{{session.upVoteCount}}</p></div>
							</div>
							<div class="votingButton" ng-click = "downVoteSession(session)">
								<i class="icon-chevron-down"></i>
							</div>
						</div>

						<div class = "well span9">
							<h4 class = "well-title">{{session.name}}</h4>
							<h6 style = "margin-top: -10px">{{session.creatorName}}</h6>

							<dl class="dl-horizontal">
								<dt>Duration: </dt>
								<dd>{{session.duration}}</dd>

								<dt>Level: </dt>
								<dd>{{session.level}}</dd>

								<dt>Details: </dt>
								<dd>{{session.abstract}}</dd>
							</dl>
						</div>
					</div>
				</li>
			</ul>


		</div>


<!-- End Angular Stuff -->

	</div>





</body>
</html>